{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Ajout Abonnement{% endblock %}
{% block content %}

 <div class="container-fluid">
 <div class="row justify-content-center">
 <h1 class="text-center text-primary p-4"> Ajouter un abonnement</h1>
 </div>
 <div class="row justify-content-center">
 <div class="col-12 bg-white p-4 m-0 text-primary">
 {{ form_start(form) }}
<div class="form-group">
 {{ form_label(form.libelle, "Nom de l'abonnement (*) ", {'label_attr': {'class': 'font-weightbold'}}) }}
 {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
 </div>
 <div class="form-group mx-auto text-center">
 {{ form_widget(form.ajouter, { 'label': "Ajouter", 'attr': {'class': 'btn font-weightbold bg-primary text-white mx-auto text-center'}}) }}
 </div>
 {{ form_end(form) }}
 </div>
 </div>
</div>
{% endblock %}