{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Liste roles{% endblock %}

{% block body %}
{{parent()}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="text-center text-primary p-4">Liste des roles</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 p-4 m-0 text-primary">
            <div class="table-responsive">
<table class="table table-hover">
 <thead>
 <tr>
  <th scope="col">Libellé</th>
  <th></th>
 <th></th>
 </tr>
 </thead>
 <tbody>
        {% for role in roles %}
        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
        <td>{{role.libelle |capitalize }}</td>
        <td><a href="{{path('modif_role',{'id':
role.id})}}" class="text-white"><span class="material-icons" title="Modifier un role">create</span></a></td>
 <td><a href="{{path('liste_roles',{'supp':role.id})}}" class="text-white"><span
class="material-icons" title="Supprimer le role">
delete
 </span></a></td>


        </tr>
        {% endfor %}
 </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} 